.header__top {
  display: flex;
  flex-wrap: wrap;
  padding: 13px 42px;
  border-bottom: 1px solid rgba(30, 23, 68, 0.09);
  font-size: 16px;
  line-height: 1.31;
  text-align: left;
}

.header__top-nav {
  margin: 0 40px 0 0;
  flex-grow: 1;
}

.header__top-nav-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.header__top-nav-item {
  margin: 0 4.65% 0 0;
}

.header__top-nav-link {
  color: $paua;
  &:hover {
    color: $tory-blue;
  }
  &:active {
    opacity: 0.6;
  }
}

.header__addresses {
  display: flex;
  flex-basis: 372px;
  justify-content: space-between;
  margin: 0 3.1% 0 0;
}

.header__address-link {
  font-weight: 300;
  color: $paua;
  & svg {
    fill: $paua;
    opacity: 0.3;
  }
  &:hover {
    color: $tory-blue;
    & svg {
      fill: $tory-blue;
      opacity: 1;
    }
  }
  &:active {
    opacity: 0.6;
  }
}

.header__telephone {
  margin: 0 4.79% 0 0;
}

.header__telephone-link {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  color: $paua;
  & svg {
    fill: $paua;
    opacity: 0.3;
  }
  &:hover {
    color: $tory-blue;
    & svg {
      fill: $tory-blue;
      opacity: 1;
    }
  }
  &:active {
    opacity: 0.6;
  }
}

.header__language {
  padding-right: 8px;
}

.header__language-link {
  color: $paua;
  &:hover {
    color: $tory-blue;
  }
  &:active {
    opacity: 0.6;
  }
}

.header__bottom {
  display: flex;
  padding: 15px 95px 44px;
  font-size: 16px;
  line-height: 1.31;
  text-align: left;
  align-items: end;
  justify-content: flex-end;
}

.header__logo-container {
  margin-bottom: -9px;
  margin-right: 68px;
}

.header__bottom-nav {
  margin-right: 53px;
  width: 1155px;
}

.header__bottom-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
}

.header__bottom-nav-item {
  &:last-of-type {
    margin: 0;
  }
}

.header__bottom-nav-link {
  font-weight: 500;
  color: $paua;
  text-transform: uppercase;
  & svg {
    stroke: $paua;
  }
  &:hover {
    color: $tory-blue;
    & svg {
      stroke: $tory-blue;
    }
  }
  &:active {
    opacity: 0.6;
  }
}

.header__bottom-nav-button {
  display: none;
}

.header__callback-container {
  display: flex;
  width: 239px;
  justify-self: flex-end;
}

.header__callback-telephone {
  width: 40px;
  height: 40px;
  margin-right: 18px;
  padding: 11.9px 11.9px 12.9px 12.9px;
  border-radius: 2px;
  border: solid 1px $paua;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-content: center;
  & svg {
    fill: $paua;
  }
  &:hover {
    background-color: $paua;
    & svg {
      fill: $white;
    }
  }
  &:active {
    opacity: 0.6;
  }
}

.header__callback-button {
  width: 181px;
  height: 40px;
  padding: 9px 22px 10px 27px;
  border-radius: 2px;
  background-color: $red;
  border: none;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background-color: $paua;
  }
  &:active {
    opacity: 0.6;
  }
}

@media (max-width: $width-L) {
  .header__top-nav {
    width: calc(100% - 30px);
    margin: 0 0 15px;
  }

  .header__addresses {
    order: 3;
  }

  .header__telephone {
    order: 4;
    margin: 0 0 0 auto;
  }

  .header__language {
    order: 2;
  }

  .header__bottom {
    flex-wrap: wrap;
    padding: 15px 42px 44px;
    justify-content: start;
  }

  .header__logo-container {
    margin: 0;
  }

  .header__bottom-nav {
    width: 100%;
    order: 2;
    margin: 15px 0 0;
  }

  .header__callback-container {
    margin-left: auto;
  }
}

@media (max-width: $width-M) {
  .header__top {
    font-size: 14px;
  }

  .header__bottom {
    padding-bottom: 25px;
  }

 .header__bottom-nav{
   font-size: 14px;
 }
}

@media (max-width: $width-S) {
  .header__bottom-nav {
    display: none;
  }
}

@media (max-width: $width-XS) {
  .header__top {
    padding: 13px 20px;
  }

  .header__top-nav {
    display: none;
  }

  .header__addresses {
    margin: 0 0 15px;
    flex-basis: auto;
    width: 100%;
    justify-content: start;
  }

  .header__address-link {
    margin: 0 15px 0 0;
  }

  .header__telephone {
    margin: 0;
  }

  .header__language {
    display: none;
  }

  .header__bottom {
    padding: 15px 20px 25px;
  }
}