$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$width-L: 1600px;
$width-M: 1280px;
$width-S: 992px;
$width-XS: 768px;
$min-width: 480px;


//Colors:
$white: #ffffff;
$paua: #1e1744;
$tory-blue: #3D5695;
$wild-blue-yonder: #8393bc;
$red: #f40808;
